$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorMain: #7AD6BB;
$colorLightGray: #F0F0F0; 
$colorDarkGray: #454545;
$colorGray: #707070;

$FontSizeSmall: calc(0.5rem + ((1vw - 3.75px) * 1.326)); //8~20